<style id="_pageStyle">
  {
    % capture page_style %
  }

  .content a {
    color: #1264A3;

    border-color: fade-out( {
          {
          color
        }
      }

      , 0.8);
  }

  .content a:hover {
    border-color: {
        {
        color
      }
    }

    ;
  }

  :focus {
    outline-color: {
        {
        color
      }
    }

    ;
  }

  ::selection {


    background: {
        {
        color: #B1E1FE;
      }
    }

    ;
  }

  ::-moz-selection {


    background: {
        {
        color: #B1E1FE;
      }
    }

    ;
  }

    {
    % endcapture %
  }

    {
      {
      page_style | scssify
    }
  }
</style>